
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



html,
body {
    font-weight: normal;
    font-style: normal;
    line-height: 1.65;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    color: rgb(26, 27, 27);
}

body {
    overflow-x: hidden;
}

a {
    color: rgb(186, 187, 187);
}

i {
    cursor: pointer;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 6rem;
    position: relative;
}

    .title::before {
        content: "";
        position: absolute;
        bottom: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 1px;
        background-color: #ccc;
    }

.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.section-title {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

@media screen and (max-width: 576px) {
    .section-title {
        font-size: 24px;
    }
}

.brand-logo {
    width: 100%;
    height: 60px;
    padding: 0 0.85em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: rgb(26, 27, 27);
}

    .brand-logo a h1 i {
        color: rgb(212, 154, 45);
    }

    .brand-logo a h1 {
        margin-left: 0.9em;
    }


.toggle-menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    color: rgb(186, 187, 187);
}

    .toggle-menu i {
        position: absolute;
    }

    .toggle-menu .btn-close {
        display: none;
        transition: all 0.3s;
    }

        .toggle-menu .btn-close:hover {
            transition: all 0.3s;
            transform: rotate(180deg);
        }

    .toggle-menu:hover {
        border-radius: 50%;
        background-color: rgb(52, 53, 53);
    }


.toggle-nav-item {
    height: 100%;
    padding: 0.6em;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1;
    background-color: rgb(26, 27, 27);
}

    .toggle-nav-item a li {
        padding: 1em;
        border-radius: 10px;
        font-size: 0.7rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: all 0.3s;
    }

    .toggle-nav-item i {
        font-size: 1.4rem;
        margin-bottom: 0.15em;
    }

    .toggle-nav-item a li:hover {
        background-color: rgb(52, 53, 53);
    }


.full-nav-item {
    width: 20%;
    height: 100%;
    padding: 0.6em;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 0.3s;
    background-color: rgb(26, 27, 27);
}




    .full-nav-item a li {
        padding: 1.25em;
        border-radius: 10px;
        display: flex;
        transition: all 0.3s;
    }

        .full-nav-item a li:hover {
            padding-left: 2em;
            background-color: rgb(52, 53, 53);
        }

    .full-nav-item i {
        width: 20px;
        margin-right: 2em;
    }


.show-full-nav-item {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.wrapper-header {
    width: 100%;
    padding-left: 2em;
    padding-right: 6.4em;
    position: absolute;
    top: 60px;
    left: 4.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.1s;
}


.swipe-wrapper-header {
    width: 80%;
    left: 20%;
    padding-right: 2em;
    transition: all 0.15s ease 0.15s;
}

.wrapper-header section {
    width: 100%;
    min-height: 500px;
    padding: 0 1.5em;
    padding-top: 5em;
    margin-top: 2em;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(212, 154, 45);
}

    .wrapper-header section h1 {
        margin-bottom: 1em;
    }

        .wrapper-header section h1::after {
            content: '';
            display: block;
            width: 5%;
            margin: auto;
            border-bottom: 2px solid rgb(26, 27, 27);
        }

.bg-custom-1 {
    background-color: #85144b;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

/*main {
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    flex-flow: row;
    align-content: space-around;
    justify-content: center;
    margin: 8em auto 5em auto;
}

article {
    position: relative;
    background-color: white;
    border-radius: 0.25em;
    width: 20%;
    min-width: 8em;
    max-width: 14em;
    padding: 2em;
    padding-bottom: 1.2em;
    margin: 1em;
    box-shadow: 0em 0em 1.5em rgba(0,0,0,.1);
    overflow: hidden;
    transition: ease;
    transition-duration: .6s;
}

    article:hover {
        cursor: pointer;
    }

.center {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}


.flip-card {
    background-color: transparent;
    width: 450px;
    height: 450px;
    perspective: 1000px;
    margin-right: 40px;
    margin-bottom: 40px;
}



.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back {
    background-color: #fff;
    color: #333;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

.flip-card-back h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Source Code Pro';
}

.flip-card-back a {
    display: inline-block;
    background-color: #3c5a65;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
    transition: background-color 0.2s ease-in-out;
}

    .flip-card-back a:hover {
        background-color: #21343b;
    }

*/

.card {
    position: relative;
    width: 280px;
    height: 200px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 150px;
}

    .card:hover {
        height: 400px;
    }

        .card:hover .imgBx {
            width: 200px;
            height: 200px;
        }

.imgBx {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}

    .imgBx img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }


.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

    .card .content .details {
        padding: 40px;
        text-align: center;
        width: 100%;
        transition: 0.5s;
        transform: translateY(150px);
    }

.card:hover .content .details {
    transform: translateY(0px);
}



.card .content .details h2 {
    font-size: 22px;
    color: #21343b;
    line-height: 8em;
}



.card .content .details .actionBtn {
    display: flex;
    justify-content: center;
}

    .card .content .details .actionBtn a {
        padding: 10px 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 1em;
        font-weight: 500;
        background: #3c5a65;
        color: #fff;
        cursor: pointer;
    }

.submenu {
    display: none;
    background-color: #f1f3f5;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: max-height 0.3s ease-out;
}

    .submenu li {
        margin: 0.5rem 0;
    }

    .submenu a {
        color: #6c757d;
        text-decoration: none;
        font-size: 1.2rem;
        margin-left: 35px;
    }

        .submenu a:hover {
            color: #fff;
            background-color: #333;
        }

.list-group-item:hover + .submenu {
    display: block;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #ffffff;
    border-radius: 0.25rem;
}

li.breadcrumb-item a {
    text-decoration: none;
}

    li.breadcrumb-item a:hover {
        text-decoration: none;
        color: #3c5a65;
    }





.card-station {
    display: inline-block;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(60, 90, 101, 0.6);
    transition: all 0.6s ease;
}

    .card-station:hover {
        box-shadow: rgba(39, 61, 69, 0.199) -10px 10px, rgba(39, 61, 69, 0.19) -20px 20px;
    }



    .card-station .content {
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-weight: 300;
    }

        .card-station .content h3 {
            width: 100%;
            font-weight: 300;
            font-size: 30px;
            padding-bottom: 5px;
            border-bottom: 3px solid #3c5a65;
        }

        .card-station .content p {
            font-size: 22px;
            margin-top: 20px;
            margin-bottom: 15px;
        }

    .card-station .button-container {
        display: flex;
        justify-content: center;
    }

    .card-station .button a {
        font-family: 'Londrina Solid', cursive;
        font-weight: 100;
        font-size: 20px;
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        background-color: #3c5a65;
        transition: 0.2s ease-in-out;
    }



    .card-station .button {
        display: flex;
        font-weight: 300;
        flex-direction: row;
        float: left;
        margin: 0 5px;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s ease-out;
        font-size: 20px;
        width: 60px;
        height: 55px;
        border-radius: 5px;
        background-color: #3c5a65;
        align-items: center;
    }

        .card-station .button:hover {
            width: 200px;
        }

        .card-station .button span {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            margin-left: 10px;
            align-items: center;
            transition: all 0.3s ease-out;
        }

        .card-station .button .icon {
            display: inline-block;
            height: 60px;
            width: 60px;
            text-align: center;
            border-radius: 50px;
            box-sizing: border-box;
            box-shadow: inherit;
            box-shadow: inherit;
            line-height: 50px;
            transition: all 0.3s ease-out;
        }
